@import '../../styles/mixin';
@import '../../styles/media_home';
.donames{
	.doname_number{
		float:right;
		font-size:14px;
		margin-right:10px;
	}
}
	.doname_symbol{
		float:right;
		font-size:14px;
		margin-right:10px;
	}
.span{font-size:12px;line-height:36px;}
	.el-button{
		@include box-shadow(0px -2px 0px #00414f inset);
		@include line-height(16px);
		transition:all .3s ease;
		&:hover{
		@include box-shadow(0px -2px 0px #0086a1 inset);
		}
	}
	.el-button_2{
		@include box-shadow(0px -2px 0px #cccccc inset);
		@include line-height(16px);
		transition:all .3s ease;
		&:hover{
		@include box-shadow(0px -2px 0px #e6e6e6 inset);
		}
	}
/* popup */
